
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    
}

main{
    max-width: 315px;
    margin: 0 auto;
}

.card{
    background-color:hsl(0, 0%, 100%);
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 15px;
}

.text{
    padding: 8px 15px 20px;
}

.text h1{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.text p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}